{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/profilepage.css">
    <title>Pritam</title>
{% endblock %}

{% block hometab %}
    <div class="mb-2">
        <img src="/static/image/preview.jpg" class="profile-cover-photo" alt="Cover Image">
        <div class="profile-move-up">
            <img src="/static/image/user.png" class="profile-photo" alt="User">
            <span class="profile-display-name">Pritam</span>
        </div>
    </div>
    <div class="p-3 mb-4 d-flex" style="justify-content: space-around;">
        <button type="button" class="btn btn-outline-primary profile-page-btn">Posts</button>
        <button type="button" class="btn btn-primary profile-page-btn">Follow</button>
    </div>

    <div class="mb-3 p-3 profile-about-section">
        <h4>About</h4>
        <p>I am passonate....</p>
    </div>

    <div class="p-3 mb-3">
        <span class="badge text-bg-success">Recent Posts</span>
    </div>

    <!-- Post by this author will apper here -->
    <div class="row">

        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                <div class="card-header">
                    <div class="card-header-left">
                        <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                        <div class="card-info">
                            <span class="name">Pritam</span>
                            <span class="date">19 June 2024</span>
                        </div>
                    </div>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Title of the blog post</h3>
                        ....
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}