/* Fixing and Resizing Styles */
.btn {border:none;}
.sm-hidden {display: none;}

/* ===== HEADER ===== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left:15px;
    padding-right:5px;
    z-index: 99;
}

/* ===== BOTTOM NAV LINKS ===== */
.bottom-nav {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.bottom-nav > .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-nav > .btn span {font-size: 12px;}
.bottom-nav > .btn.active > i {color: var(--bs-primary);}

/* ===== Small screen styling ===== */
@media screen and (max-width:768px) {
    #searchBox {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    #searchBox > form {padding: 9px;}
}

/* ===== DESKTOP LOOK ===== */
@media screen and (min-width:768px) {
    .sm-hidden {display:inline-block;}
    .md-hidden {display: none;}
    /* Bottom Navigation */
    .bottom-nav {
        top: 60px;
        width: 25%;
        flex-direction:column;
        justify-content: flex-start;
    }
    .bottom-nav > .btn {
        width: 100%;
        height: 60px;
        text-align: left;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .bottom-nav > .btn span {
        margin-left: 15px;
        font-size: 16px;
    }
}