/* === FIXING === */
:root, [data-bs-theme="light"] {
    --bs-text: #000;
}
[data-bs-theme="dark"] {
    --bs-text: #fff;
}
::-webkit-scrollbar {
    display: none;
}
.btn {
    border:none;
}
* {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
body {
    margin-top: 60px;
    margin-bottom: 65px;
    height: 100%;
}
/* TAB CONTENT */
.tab-content, .tab-pane {
    width: 100%;
    height: 100%;
}
/* Swiper */
.swiper-container, .swiper-wraper, .swiper-slide, .swiper-slide > .card {
    width: 100%;
    height: 100%;
}
.swiper-slide > .card .card-img-top {
    height: 150px;
}

/* === BOTTOM NAV === */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.bottom-nav-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bottom-nav-btn-group > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}
.bottom-nav-btn-group > button.active i {
    color: var(--bs-primary);
}
.bottom-upload-btn {
    border: 1px solid var(--bs-text);
    border-radius: 100%!important;
    padding: 10px;
}
.bottom-nav-btn-group > button span {
    font-size: 65%;
}
.bottom-nav-btn-group > button img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border: 1px solid var(--bs-text);
    border-radius: 100%;
    padding: 1px;
}

/* ===== SIDENAV RIGHT ===== */
.offcanvas-end {transition: all 0.3s;}
.sidenav-link {
    text-decoration:none;
    color: var(--bs-text);
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    background-color: var(--bs-body-bg);
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sidenav-profile-img {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 100%;
    object-fit: cover;
    padding: 1.5px;
}

/* ===== UPLOAD offconvas ===== */
.offcanvas-bottom {
    min-height: 70%;
    width:100%;
    max-width: 600px;
    margin: auto;
    overflow: auto;
    border:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s;
}
.post-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 5px 20px;
}

/* === Small screen styling === */
@media screen and (max-width:575px) {
    #searchBox {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    #searchBox > form {padding: 9px;}
}

/* === MEDIUM DEVICES === */
@media screen and (min-width:768px) {
    /* BODY */
    body {
        margin-left:25%;
        width: 75%;
    }
    /* Bottom Nav */
    .bottom-nav {
        top: 60px;
        width: 25%;
    }
    .bottom-nav-btn-group {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .bottom-nav-btn-group > button {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        margin-bottom: 3px;
        gap: 10px;
        padding: 12px;
    }
    .bottom-nav-btn-group > button:hover {
       background-color: var(--bs-secondary-bg);
    }
    .bottom-nav-btn-group > button i {
        font-size: 120%;
    }
    .bottom-nav-btn-group > button span {
        padding-left: 5px;
        font-size: 100%;
    }
    .md-upload-btn {
        margin: auto;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        justify-content: center;
        align-items: center;
    }
    .md-upload-btn > i {
        padding-right: 10px;
    }
}