<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your stories, news, updates and editorial to the world in short summary with wordglimpse.">
    <meta name="keywords" content="Wordglimpse, News, Stories">
    <!--OGP-->
    <meta property="og:site_name" content="Wordglimpse">
    <meta property="og:title" content="Wordglimpse">
    <meta property="og:description" content="Share your stories, news, updates and editorial to the world in short summary with wordglimpse.">
    <meta property="og:url" content="https://word-glimpse.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/image/logo.png">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--Font Awesome Icon-->
    <script src="https://kit.fontawesome.com/a4824506ea.js" crossorigin="anonymous"></script>
    <!--Swiper Js-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/swiper.js"></script>
    <!--Custom statics-->
    <link rel="icon" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-body-secondary" data-bs-theme="light">
    <!-- HEADER-->
    <header class="header bg-body">
        <a href="/" class="navbar-brand">Wordglimpse</a>
        <div class="btn-group">
            <!-- Serch Box -->
            <div id="searchBox" class="sm-hidden bg-body-tertiary">
                <form action="/search" method="get" class="d-flex bg-body">
                    <button type="button" class="btn md-hidden"><i class="fa-solid fa-arrow-left-long" onclick="toggleSearch()"></i></button>
                    <input id="searchInput" class="form-control" type="search" name="q" placeholder="Search.." autocomplete="off" autofocus>
                    <button type="submit" class="btn"><i class="fa-solid fa-search"></i></button>
                </form>
            </div>
            <button type="button" class="btn md-hidden" onclick="toggleSearch()"><i class="fa-solid fa-search"></i></button>
            <div>
                <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end p-3">
                    <div class="form-check form-switch form-check-reverse">
                        <input class="form-check-input" type="checkbox" role="switch" id="themeToggler">
                        <label class="form-check-label" for="themeToggler">Dark Mode</label>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--MAIN TAB CONTENT-->
    <main class="tab-content" id="nav-tabContent">
        <!-- Content Tab: For other pages like search, settings, profiles etc -->
        <section class="tab-pane fade {% if contenttab %}show active{% endif %}" id="nav-content" role="tabpanel" aria-labelledby="nav-content-tab" tabindex="0">
            {% block content %}{% endblock %}
        </section>

        <!-- Home Tab -->
        <section class="tab-pane fade {% if not contenttab %}show active{% endif %}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="card">
                            <span class="badge text-bg-success">News</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Pritam</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    
                                    ....
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <span class="badge text-bg-success">Story</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Fatima</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    ....
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Recent Tab -->
        <section class="tab-pane fade" id="nav-recent" role="tabpanel" aria-labelledby="nav-recent-tab" tabindex="0">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="card">
                            <span class="badge text-bg-success">Event</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Pritam</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    ....
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <span class="badge text-bg-success">Article</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Fatima</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#readListModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    ....
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Saved Tab -->
        <section class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab" tabindex="0">
            <!--Adding list option-->
            <div class="dropdown p-4 mt-5 d-flex" style="flex-direction: row-reverse;">
                <button type="button" class="btn btn-primary" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-plus"></i> Create List</button>
                <div class="dropdown-menu p-3">
                    <form action="create-list" method="post">
                        <div class="mb-3">
                            <input class="form-control" type="text" name="listname" placeholder="List Name" autofocus>
                        </div>
                        <div class="d-flex mb-3" style="justify-content: space-between;">
                            <label for="publiclist">Make Public</label>
                            <input type="checkbox" class="form-check-input" value="public" name="publiclist" id="publiclist">
                        </div>
                        <div class="d-flex" style="flex-direction: row-reverse;">
                            <button type="submit" class="btn btn-primary">Add New</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--List will appear here-->
            <div class="p-4">
                <!--Deault list-->
                <a href="/saved" class="saved-folder-link bg-body">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span class="saved-folder-info">
                        <span>Saved for later</span>
                        <small>Private</small>
                    </span>
                </a>
            </div>
        </section>
    </main>

    <!--SIDENAV RIGHT-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--Profile-->
            <div class="mb-3">
                <a href="/profile" class="sidenav-link">
                    <img src="/static/image/user.png" class="sidenav-profile-img">
                    <span>View Your Profile</span>
                </a>
            </div>
  
            <div class="mb-3">
                <a href="/settings" class="sidenav-link">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>Profile</span>
                </a>
                <a href="/posts" class="sidenav-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Posts</span>
                </a>
                <a href="/followings" class="sidenav-link">
                    <i class="fa-solid fa-users"></i>
                    <span>Followings</span>
                </a>
            </div>
  
            <div class="mb-3">
                <a href="/account" class="sidenav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span>Account</span>
                </a>
                <a href="/privacy" class="sidenav-link">
                    <i class="fa-solid fa-shield"></i>
                    <span>Privacy</span>
                </a>
            </div>
            <div class="mb-3">
                <a href="/help" class="sidenav-link">
                    <i class="fa-solid fa-book"></i>
                    <span>Help & Support</span>
                </a>
                <a href="/about" class="sidenav-link">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>About</span>
                </a>
            </div>

            <div class="mt-5">
                <a href="/logout" class="sidenav-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Log Out</span>
                </a>
            </div>
        </div>
    </div>

    <!--UPLOAD offcanvas-->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <form action="/upload" method="post">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">Create Post</h5>
                <button type="submit" class="btn bg-primary post-btn">Post</button>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload An Image</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Title" name="title">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Category" name="category">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write here..."></textarea>
                </div>
            </div>
        </form>
    </div>

    <!-- Add to list option -->
    <div class="modal" id="readListModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add to a list</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add-to-playlist" method="post" id="playlistForm">
                        <div class="d-flex" style="justify-content: space-between;">
                            <label for="readinglist">Reading List</label>
                            <input class="form-check-input" type="checkbox" id="readinglist" name="readinglist" value="readinglist">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="playlistForm">Done</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NAV TABS -->
    <nav class="bottom-nav bg-body" id="nav-tab" role="tablist">
        <button class="btn {% if contenttab %}active{% endif %}" id="nav-content-tab" data-bs-toggle="tab" data-bs-target="#nav-content" type="button" role="tab" aria-controls="nav-content" aria-selected="{% if contenttab %}true{% else %}false{% endif %}" style="display:none;"></button>
        <button class="btn {% if not contenttab %}active{% endif %}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <i class="fa-solid fa-home"></i><span>Home</span>
        </button>
        <button class="btn" id="nav-recent-tab" data-bs-toggle="tab" data-bs-target="#nav-recent" type="button" role="tab" aria-controls="nav-recent" aria-selected="false">
            <i class="fa-solid fa-clock"></i><span>Recent</span>
        </button>
        <button class="btn btn-write" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
            <i class=" fa-solid fa-pen-nib"></i><span class="sm-hidden">Create Post</span>
        </button>
        <button class="btn" id="nav-saved-tab" data-bs-toggle="tab" data-bs-target="#nav-saved" type="button" role="tab" aria-controls="nav-saved" aria-selected="false">
            <i class="fa-solid fa-bookmark"></i><span>Saved</span>
        </button>
        <button class="btn btn-account" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <img src="/static/image/user.png"><span>Account</span>
        </button>
    </nav>
</body>
</html>