{% extends "base.html" %}

{% block title %}
    Edit
{% endblock %}

{% block content %}

    <div class="p-5">
        <form action="/edit" method="post">
            <div class="mb-3 text-center">
                <h5>Edit your profile</h5>
            </div>
            <div class="mb-3">
                <label for="profilePhoto" class="form-label">Update your profile photo</label>
                <input name="profile-photo" class="form-control" type="file" id="profilePhoto">
            </div>
            <div class="mb-3">
                <label for="coverPhoto" class="form-label">Update your cover photo</label>
                <input name="cover-photo" class="form-control" type="file" id="coverPhoto">
            </div>
            <div class="mb-3">
                <small class="text-body-secondary">You can't change your name!</small>
            </div>
            <div class="mb-3">
                <label for="userBio" class="form-label">Update your biography</label>
                <textarea class="form-control" id="userBio" rows="3" placeholder="Write here..." maxlength="300"></textarea>
            </div>
            <button class="btn btn-primary d-block m-auto" type="submit" style="width:100%; max-width:200px;">Update</button>
        </form>
    </div>


{% endblock %}