{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <ul class="nav nav-underline" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts-tab-pane" type="button" role="tab" aria-controls="posts-tab-pane" aria-selected="true">Posts</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="author-tab" data-bs-toggle="tab" data-bs-target="#author-tab-pane" type="button" role="tab" aria-controls="author-tab-pane" aria-selected="false">Author</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade pt-3 show active" id="posts-tab-pane" role="tabpanel" aria-labelledby="posts-tab" tabindex="0">
            <div class="container-fluid" style="padding:0;">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <span class="badge text-bg-success">Event</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Pritam</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#collectionModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    ....
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <span class="badge text-bg-success">Event</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Pritam</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#collectionModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    <p>hs</p>
                                    <p>hs</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <span class="badge text-bg-success">Event</span>
                            <img src="/static/image/preview.jpg" class="card-img-top" alt="...">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <img src="/static/image/user.png" class="avatar-img" alt="Brand">
                                    <div class="card-info">
                                        <span class="name">Pritam</span>
                                        <span class="date">19 June 2024</span>
                                    </div>
                                </div>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#collectionModal"><i class="fa-regular fa-bookmark"></i></button>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h3>Title of the blog post</h3>
                                    <p>hs</p>
                                    <p>hs</p>
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="tab-pane fade pt-3" id="author-tab-pane" role="tabpanel" aria-labelledby="author-tab" tabindex="0">
            <ul class="search-author-card">
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Pritam</span>
                            <small>20 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Pratik</span>
                            <small>19 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Rajeev</span>
                            <small>11 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Aditya</span>
                            <small>2 Posts</small>
                        </span>
                    </a>
                </li>


                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Sujal</span>
                            <small>2 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Nilesh</span>
                            <small>1 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Jaydeep</span>
                            <small>1 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Aman</span>
                            <small>0 Posts</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="bg-body">
                        <img src="/static/image/user.png" alt="User">
                        <span class="search-author-info">
                            <span>Karan</span>
                            <small>0 Posts</small>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}